@import "main_grid";

.grid > * {
    margin-bottom: 20px;
    margin-top: 20px;
}

.grid > h2 {
    margin-bottom: 0px;
    @media(max-width : 1200px){
        padding-left: 20px;
    }
}

.cart__product__info h2 {
    margin-bottom: 10px;
}

.cart__product {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;

    @media(max-width : 700px){
        flex-direction: column;
    }

}

.cart__product__img {
    width: 33.333%;
    padding-left: 0px;
    padding-right: 13.333px;

    @media(max-width : 1200px){
        padding-left: 20px;
        padding-right: 6.667px;
    }

    @media(max-width : 700px){
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

    img {
        width: 100%;
    }
}

.cart__product__text {
    width: 66.667%;
    padding-right: 0px;
    padding-left: 6.667px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    @media(max-width : 1200px){
        padding-right: 20px;
        padding-left: 13.333px;
    }

    @media(max-width : 700px){
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

    h1{
        @media(max-width : 700px){
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

.cart__product__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cart__product__input {
    display: flex;
    flex-direction: row;
    width: 100%;

    input {
        height: 30px;
        width: 50px;
        border-style: solid;
        border-color: grey;
        border-radius: 5px;
        border-width: 1px;
        margin-right: 10px;
    }

    button {
        height: 30px;
        padding: 5px;
        border-style: solid;
        border-color: grey;
        border-radius: 5px;
        border-width: 1px;
        display: flex;
        font-size: 17px;
        background-color: white;
<<<<<<< HEAD
<<<<<<< HEAD
        margin-right: 10px;
        transition: background-color 0.4s ease;                  //fade
=======
        margin-right: 5px;
        transition: background-color 0.3s ease-in-out;                  //fade
>>>>>>> a0ed4df326e7fc9d0605c8610efc7e2ebd3c2735
=======
        margin-right: 5px;
        transition: background-color 0.3s ease-in-out;                  //fade
>>>>>>> a0ed4df326e7fc9d0605c8610efc7e2ebd3c2735

        img {
            height: 20px;
            width: 20px;
            margin-right: 10px;
        }
    }

    button:hover {
        background-color: rgb(200, 150, 150);
    }
}
.grid__button{

    width: 225px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    button{
        border: none;
        width:100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 5px;
        background-color: rgb(200, 150, 150);
        transition: color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;

        a {
            text-decoration: none;
        }

        a:link, a:visited {
            color: black;
        }
    }

    button:hover {
        background-color: Black;
        color: rgb(200,150,150);
        a:link, a:visited {
            color:rgb(200, 150, 150);
        }
    }
}

.cart__form {
    display: flex;
    flex-direction: row;
    width: 66.667%;
    padding-left: 3px;
    padding-right: 3px;
    margin: auto;

    @media(max-width : 1200px){
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media(max-width : 700px){
        flex-direction: column;
    }
}

.cart__form-col__input > p {
    font-size: 20px;
}

.cart__form-col{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 10px;

    @media(max-width : 700px){
        padding-right: 0px;
    }
}

.cart__form-col:nth-of-type(2){
    padding-right: 0px;
    padding-left: 10px;

    @media(max-width : 700px){
        padding-left: 0px;

        h1{
            margin-top: 20px;
        }
    }
}

.cart__form-col__input {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;

    input {
        width: 60%;
    }
    select {
        width: 60%;
    }
}

.cart__form-col__input2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 60%;

    select {
        width: 25%;
    }
}

.cart__cost {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}