
header{
    height: 20vh;
    background-color: #afb281;
}

.header__grid{
    max-width: 1200px;
    margin:auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.header__title{
    margin: 0 auto;
    text-align: center;

    h1 {
        font-size: 6.5vh;
        padding-top: 1vh;
    }
}

.header__pages{
    display: flex;
    flex-direction: column;
    width:100%;

    button a{
        transition: color 0.4s ease;
        font-size: 1.6vh;
    }

    button a:hover {
        color: white;
    }
    ul li a{
        font-size: 2.2vh;
    }
     
}


header ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: auto;

    li{
        margin: $gutter/2;
    }

    li a{
        transition: color 0.4s ease;
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
    li a:hover{
        color: white;
    }

    li .pages__selected {
        text-decoration: underline;
    }
}

.btn{
    border:none;
    background-color: #afb281;
    margin-top: -25px;
    width: 86px;
    margin-bottom: $gutter;
    margin-left: auto;
    margin-right: $gutter/2;
    display: block;

    @media (max-width: 600px){
        margin-left: auto;
        margin-right: auto;
        margin-top: $gutter/2;
    }
}

.btn a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color:black;
    font-weight:bold;
}

.btn img{
    height: 2vh;
    width:20px;
}