@import "main_grid";
//======================
// PRODUCTS
//======================
.prod__grid__row{
    font-family: 'helvetica', 'sans-serif';
    display:flex;
    
    flex-direction: row;
    flex-wrap: wrap;
   
    width:100%;
    margin-left: -10px;
    margin-right: -10px;
    margin-top:20px;

}

.product-card{
    
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    
    padding:0px;
    margin-bottom: 40px;


   @media(min-width: 0px) and (max-width: 500px){
    @include columns(12);
    
        margin-left: 20px;
        //margin-right:10px;
    
    
   }

   @media(min-width:501px) and (max-width: 1200px){
       
        @include columns(6);
          
   }

   @media(min-width:1200px){
        //@include columns(4);
        max-width: 33.33333%;
      
   }
}

@media(min-width:501px) and (max-width: 1200px){
    .prod__grid__row .product-card:nth-child(odd){
        padding-left:30px;
        padding-right: 0px;
    }

    .prod__grid__row .product-card:nth-child(even){
       padding-left:20px;
    }
}

@media(min-width:1200px){
    .prod__grid__row{
        margin-left:0px;
        margin-right: 0px;
    }
    .prod__grid__row .product-card:nth-child(3n+1){
    
        //padding-left:10px;
        padding-right:13.333px;
    
    }
    .prod__grid__row .product-card:nth-child(3n+2){
        padding-left:6.667px;
        padding-right:6.667px;
        
    }
   
    .prod__grid__row .product-card:nth-child(3n+3){
        padding-left:13.333px;
        //padding-right:0px;
       
    }

}

.prod__price{
    font-weight: bold;
    
}

.product-card h2{
    font-family: 'Serif', sans-serif;
    padding-bottom: 16px;
}

.product-card p{
    padding-bottom: 0px;
}

.product__img{
    width:100%;
    

    & img{
        width:100%;
    }
}

.product__order {
    width: 100%;
}

.product__input {

    display: flex;
    flex-direction: row;
    width: 100%;

    input {
        height: 30px;
        width: 50px;
        border-style: solid;
        border-color: grey;
        border-radius: 5px;
        border-width: 1px;
        margin-right: 5px;
        width: 100%;
    }

    button {
        height: 30px;
        padding: 5px;
        border-style: solid;
        border-color: grey;
        border-radius: 5px;
        border-width: 1px;
        display: flex;
        font-size: 17px;
        background-color: white;
        transition: background-color 0.4s ease;
        min-width: 130px;

        img {
            height: 20px;
            width: 20px;
            margin-right: 7px;
        }
    }

    button:hover {
        background-color: rgb(200, 150, 150); 
    }
}

.product__order__info > * {
    margin-top: 10px;
}

.product__cont{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100%;
}

.product__info {
    margin-bottom: 20px;
}

